body {
  font-family: Poppins, Arial, sans-serif;
  background-color: #18181b;
}

p {
  color: #fff;
  margin-top: 3rem;
}

#logo {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: 2rem;
  font-weight: bold;
  color: blueviolet;
}

.logo {
  width: 50px;
  height: 50px;
  padding: 1rem;
}

main {
  margin-left: 15px;
}

#navbar {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid blueviolet;
  margin: auto;
  padding: 1rem 1rem;
  gap: 2;
}

.navigation {
  font-family: Poppins;
  display: flex;
  align-items: center;
  gap: 2rem;
}

.nav-link {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-right: 5rem;
}

.navigation .link a {
  display: flex;
  position: relative;
  text-decoration: none;
  padding-bottom: 0.5rem;
  color: #fff;
}

.navigation a:hover {
  color: blueviolet;
}

.link a::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 0;
  bottom: 0;
  left: 0;
  background-color: #fff;
  transition: all 0.3s ease;
}

.link a:hover::after {
  width: 70%;
}

/* Awal Body  */
.bagian-judul {
  margin-top: 10px;
  margin-bottom: 20px;
}

.judul {
  font-family: poppins;
  color: #fff;
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
  margin-top: 15px;
}

.sub-judul {
  color: #ccc;
  text-align: center;
  margin-top: -15px;
}

/* Bagian input Keliling Segitiga  */
.KS {
  margin-top: 15px;
  color: #fff;
  font-size: 1.5rem;
}

.gambar-keliling {
  display: flex;
  width: 350px;
  height: 300px;
  align-self: center;
}

.untuk-keliling,
.untuk-luas {
  color: #fff;
  padding: 1rem;
}

fieldset {
  margin: 1.5rem 1.5rem 1.5rem 0;
}

fieldset p {
  margin-top: 5px;
  padding: 0.5rem;
}

.main-input {
  display: flex;
  flex-direction: column;
  margin-top: 25px;
}

.rumus-keliling,
.rumus-luas {
  margin-top: 5px;
  margin-bottom: 5px;
}

.keterangan-luas {
  margin-top: 1.5rem;
}

.ket-luas,
.ket-alas,
.ket-tinggi {
  margin-top: -10px;
  margin-bottom: 5px;
  padding-bottom: 5px;
}

.nilai-input-keliling,
#label-keliling,
#hasil-keliling,
#hasil-luas {
  color: #fff;
}

.hasil-dari-keliling,
.hasil-dari-luas {
  background-color: #fff;
}

.input-sisi,
.input-tinggi-segitiga,
.input-alas-segitiga,
.hasil-dari-keliling,
.hasil-dari-luas {
  outline: none;
  border-radius: 5px;
  padding: 10px;
  border: 3px solid blueviolet;
  width: 40%;
  margin-bottom: 5px;
}

.input-sisi:focus,
.input-tinggi-segitiga:focus,
.input-alas-segitiga:focus {
  border: 3px solid violet;
}

/* Bagian input Luas Segitiga  */
.LS {
  margin-top: 5rem;
  color: #fff;
}

.gambar-luas {
  display: flex;
  width: 300px;
  height: 300px;
  align-self: center;
}

label {
  margin-bottom: 5px;
  margin-top: 15px;
  font-weight: bold;
}

#label-tinggi,
#label-alas,
.input-luas {
  color: #fff;
}

.input-alas {
  margin-top: 10px;
}

#output-luas,
#output-keliling {
  margin-top: 10px;
  color: rgb(250, 65, 65);
}

.button {
  display: flex;
  margin-top: 10px;
  align-self: center;
  gap: 35px;
}

/* button button keliling */
.hitung-keliling,
.hitung-luas {
  padding: 0.5rem 2rem;
  font-size: 1rem;
  color: #fff;
  background: linear-gradient(
      116deg,
      #4075ff 12.84%,
      rgba(64, 117, 255, 0.51) 36.86%,
      rgba(64, 117, 255, 0) 62%
    ),
    linear-gradient(
      255deg,
      #cb0dce -3.67%,
      rgba(64, 117, 255, 0) 96.33%,
      rgba(148, 23, 224, 0) 96.33%
    ),
    #4075ff;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.hitung-keliling:hover,
.hitung-luas:hover {
  background-color: #1e40af;
}

.hitung-keliling:active,
.hitung-luas:active {
  background-color: #1e40af;
  transform: translateY(2px);
}

.reset-keliling,
.reset-luas {
  padding: 0.5rem 2rem;
  font-size: 1rem;
  color: #fff;
  background: linear-gradient(
      116deg,
      #edf850 12.84%,
      rgba(201, 204, 27, 0.51) 36.86%,
      rgba(247, 243, 20, 0) 62%
    ),
    linear-gradient(
      255deg,
      #f5be0b -3.67%,
      rgba(221, 224, 21, 0.521) 96.33%,
      rgb(235, 219, 6) 96.33%
    ),
    #4075ff;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.reset-keliling:hover,
.reset-luas:hover {
  background-color: rgb(244, 244, 120);
}

.reset-keliling:active,
.reset-luas:active {
  background-color: rgb(246, 246, 31);
  transform: translateY(2px);
}

.button-keliling {
  display: flex;
  margin-top: 2rem;
  margin-bottom: 2rem;
  align-self: center;
  gap: 35px;
}

/* Bagian button luas  */
.button {
  display: flex;
  margin-top: 10px;
  align-self: center;
  gap: 35px;
}

/* Bagian footer */
.footer-akhir {
  margin-top: 3rem;
  display: fixed;
  padding: 2rem;
  text-align: center;
  background-color: blueviolet;
}

a.copyright {
  text-decoration: none;
  color: white;
}
